*{
    font-family: 'Permanent Marker', cursive;

}

.gif img
{
        display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height:auto;
    }

.heads {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    height:auto;

}
.btn{
    background-color: white;
}

input[type="button"]
{
    
    border: none;
    outline:none;
}

.dot {
    height: 200px;
    width: 200px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
  }

.btn:focus{
    display: none;
}

#joke{
font-size: xx-large;
}

.jumbotron{
background: transparent;
background-repeat: no-repeat;
background-position: top left;
background-attachment: fixed;
}

body{
background-image: url("assets/coinsBottom2.jpg");
background-repeat: no-repeat;
background-size: cover;
}

#outcome.heads.dot {
    height: 0px;
    width: 0px;
}

#outcome.heads.dot.animated.flip {
    height: 200px;
    width: 200px;
}